body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 80px;
}

img {
  max-width: 100%;
  display: block;
}

* {
  margin: 0px;
  padding: 0px;
}

header {
  margin-top: 70px;
  display: grid;
  gap: 70px;
  justify-items: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

li {
  list-style: none;
}

nav a {
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

nav a:hover {
  border: 2px solid #e21;
}

main {
  max-width: 1000px;
}

.conteudo1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #ffffff;
}

h1::after {
  content: " ";
  display: inline-block;
  width: 60px;
  height: 4px;
  background-color: red;
  position: absolute;
  top: 30px;
  right: -30px;
}

.subconteudo {
  display: grid;
  position: relative;
  padding: 20px;
  align-content: center;
  text-align: right;
  gap: 20px;
}

h1 {
  font-size: 2.1rem;
}

.subconteudo p {
  line-height: 1.3;
  font-size: 20px;
}

.botao {
  text-decoration: none;
  color: #f7f7f7;
  background-color: #ee2211;
  padding: 1rem 2rem;
  border-radius: 4px;
  place-self: end;
}

.botao:hover {
  background-color: #900;
}

.img1 {
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.conteudo2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.titulo {
  align-self: center;
  background-image: url(img/onda.svg);
}

h2 {
  font-size: 64px;
  text-transform: uppercase;
  padding: 20px;
  color: #c6c6c6;
  text-align: right;
}

.vantagens {
  background-color: #ffffff;
  padding: 50px;
}

.vantagens div:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens p {
  line-height: 1.3;
  font-weight: bold;
  font-size: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.vantagens-item {
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.vantagens-item:hover {
  border-left: solid 3px #e21;
}

.vantagens-item2 {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;

  gap: 10px;
}

.vantagens-item2:hover {
  border-left: solid 3px #e21;
}

.vantagens-item3 {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding: 20px;
}

.vantagens-item3:hover {
  border-left: solid 3px #e21;
}

footer {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 1.2rem;
  background-color: #ffffff;
  padding: 40px;
  box-sizing: border-box;
}

@media (max-width: 858px) {
  h1::after {
    display: none;
  }
}

@media (max-width: 750px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    display: grid;
    justify-items: center;
    gap: 20px;
  }

  .conteudo1 {
    grid-template-columns: 1fr;
  }

  h1::after {
    display: none;
  }

  h1 {
    text-align: le;
  }
  .subconteudo {
    text-align: left;
  }

  .botao {
    place-self: start;
  }

  .conteudo2 {
    grid-template-columns: 1fr;
  }

  .titulo {
    padding: 20px;
  }

  h2 {
    text-align: center;
  }

  footer {
    margin: 0px;
  }
}
